# Java
target/
build/
*.class
*.jar
*.war
*.ear

# Spring / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Node
node_modules/
dist/
.eslintcache

# OS
.DS_Store

# Docker
.docker/

**/HELP.md

# terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl